@media only screen and (max-width: 600px) {
    .time-control {
        width: 100% !important;
    }
    .play-control {
        width: 60% !important;
    }
}

.player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center; //Needs display:flex
    justify-content: space-between;
}

.time-control {
    width: 50%;
    display: flex;
    input {
        width: 100%;
        padding: 1rem 2rem;
    }
    p {
        padding: 1rem;
    }
}

.play-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 30%;
    svg {
        cursor: pointer;
    }
}